:root{
/* Primary*/
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    /* Neutral*/
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);


    /* Spacing */
    --space-50:4px;
    --space-100:8px;
    --space-200:16px;
    --space-300:24px;
    --space-400:32px;
    --space-500:40px;

    /* radius */
    --radius:8px;
    /* Typography */
    --family-sans:"Barlow Semi Condensed", sans-serif;
     --text-preset-1:20px;
     --text-preset-2:13px;
     --text-preset-4:11px;
     --line-height-1:1.2;
     --line-height-2:1.1;
     --line-height-3:1.4;
     --letter-preset:0px;
     
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }   
body {
    font-family:var(--family-sans); 
    font-weight: 500;
    font-style: normal;
    font-size: var(--text-preset-2);
    line-height: var(--line-height-2);
    letter-spacing: var(--letter-preset);
    color: var(--grey-500);
    background-color: #F6F5F6;
  }
  .testimonial-grid{
    display: grid;
    margin: 72px 35px;
    grid-template-areas: "daniel" "jonathan"
     "jeanette" "patrick" "kira";
     place-content: center;
     min-height: 100vh;
     gap: var(--space-400);
     
  }
  .card{
    padding: var(--space-400);
    border-radius: var(--radius);
    
  }
  .card__profile{
    display: flex;
    align-items: center;
    column-gap: var(--space-200);
  }
  .card__avatar{
    border-radius: 50%;
  }
  
  .card__profile-status{
    font-size: var(--text-preset-4);
    margin-top: 4px;
  }
  .card__quotes p:first-child{
    font-size: var(--text-preset-1);
    line-height: var(--line-height-1);
    font-weight: 600;
    padding-block: var(--space-200);

  }
  .card__quotes p:last-child{
    line-height: var(--line-height-3);
  }
  .card--daniel{
    background-color: var(--purple-500);
    grid-area: daniel;
  }
  .card--jonathan{
    background-color: var(--grey-500);
    grid-area: jonathan;
  }
  .card--jeanette{
    background-color: var(--white);
    grid-area: jeanette;
  }
  .card--patrick{
    background-color: var(--dark-blue);
    grid-area: patrick;
  }
  .card--kira{
    background-color: var(--white);
    grid-area: kira;
  }
  .white{
    color:var(--white);
  }
  .purple-50{
    color: var(--purple-50);
  }
  .grey-100{
    color: var(--grey-100);
  }
  .grey-200{
    color: var(--grey-200);
  }
  .grey-400{
    color:var(--grey-400);
  }
  .grey-500{
    color: var(--grey-500);
  }
  .stroke-daniel{
    border: var(--space-100) solid #A775F1;
  }
  .stroke-patrick{
    border: var(--space-100) solid  var(--purple-500);
  }